XML/Akt.xsd.bak

<?xml version="1.0"?>
<xsd:schema targetNamespace="http://www.skupstinans.rs/akt" xmlns="http://www.skupstinans.rs/akt" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="Akt">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Preambula" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="PravniOsnov">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="MaterijalniPravniOsnov" type="xsd:string"/>
                                        <xsd:element name="FormalniPravniOsnov" type="xsd:string"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="NazivOrganaDonosiocaPropisa" type="Naziv"/>
                            <xsd:element name="Saglanost">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="NazivOrgana" type="Naziv"/>
                                        <xsd:element name="Naznaka" type="xsd:string"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="NazivAkta" type="Naziv"/>
                <xsd:element name="UvodniDeo">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="NazivUvodnogDela" type="xsd:string"/>
                            <xsd:element name="PredmetUredjivanja" type="xsd:string"/>
                            <xsd:element name="Definicije" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Definicija" maxOccurs="unbounded">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="Pojam" type="xsd:string"/>
                                                    <xsd:element name="ObjasnjenjePojma" type="xsd:string"/>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="GlavniDeo">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="PravaIObaveze">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="MaterijalnoPravneOdredbe">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element ref="Odredba" maxOccurs="unbounded"/>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="ProcesneOdredbe">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element ref="Odredba" maxOccurs="unbounded"/>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Ovlascenja">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Ovlascenje" maxOccurs="unbounded">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="OdredbeOPodzakonskimPropisima">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="NazivOvlacenogOrgana" type="Naziv"/>
                                                                <xsd:element ref="Odredba" maxOccurs="unbounded"/>
                                                                <xsd:element name="OdredbaOVremenskomVazenjuPropisa"/>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="KazneneOdredbe">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="KaznjivaRadnjaISankcija" maxOccurs="unbounded">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="KaznjivaRadnja">
                                                        <xsd:complexType mixed="true">
                                                            <xsd:all>
                                                                <xsd:element name="BiceDela"/>
                                                                <xsd:element name="SubjektOdgovornosti"/>
                                                            </xsd:all>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                    <xsd:element name="Sankcija"/>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="ZavrsniDeo">
                    <xsd:complexType>
                        <xsd:choice>
                            <xsd:sequence>
                                <xsd:element name="NazivZavrsnogDela" fixed="Prelazne i zavrsne odredbe" type="xsd:string"/>
                                <xsd:element name="PrelazneOdredbe"/>
                                <xsd:element name="ZavrsneOdredbe"/>
                            </xsd:sequence>
                            <xsd:sequence>
                                <xsd:element name="PrelazneOdredbe">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="NazivPrelaznihOdredbi" type="xsd:string" fixed="Prelazne Odredbe"/>
                                            <xsd:element ref="Odredba" maxOccurs="unbounded"/>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="ZavrsneOdredbe">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="NazivZavrsnihOdredbi" type="xsd:string" fixed="Zavrsne Odredbe"/>
                                            <xsd:element ref="Odredba" maxOccurs="unbounded"/>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:choice>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="Prilozi" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Prilog" minOccurs="1" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="Naziv">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="50"/>
            <xsd:pattern value="[A-Z]+[A-Za-z0-9 ]*"/></xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NazivUvodnogDela">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Uvodne odredbe"/>
            <xsd:enumeration value="Osnovne odredbe"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="Odredba"/>
</xsd:schema>