data/XML/Akt.xsd

<?xml version="1.0"?>
<xsd:schema targetNamespace="http://www.skupstinans.rs/akt" xmlns="http://www.skupstinans.rs/akt"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="Propis">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Preambula"/>
                <xsd:element ref="NazivPropisa"/>
                <xsd:element ref="UvodniDeo"/>
                <xsd:element ref="GlavniDeo"/>
                <xsd:element ref="ZavrsniDeo"/>
                <xsd:element ref="Prilozi"/>
            </xsd:sequence>
            <xsd:attribute ref="danStupanjaNaSnagu"/>
            <xsd:attribute ref="nazivSluzbenogGlasila"/>
            <xsd:attribute ref="godinaOdKojeSePrimenjuje"/>
            <xsd:attribute ref="rokVazenja"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Preambula">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="PravniOsnov"/>
                <xsd:element ref="DonosilacPropisa"/>
                <xsd:element ref="Saglasnost" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PravniOsnov">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="MaterijalniPravniOsnov"/>
                <xsd:element ref="FormalniPravniOsnov"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DonosilacPropisa">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="NazivOrgana"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Saglasnost">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="NazivOrgana"/>
                <xsd:element ref="Naznaka"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UvodniDeo">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="NazivUvodnogDela"/>
                <xsd:element ref="PredmetUredjivanja"/>
                <xsd:element ref="Definicije" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Definicije">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" ref="Definicija"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Definicija">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Pojam"/>
                <xsd:element ref="ObjasnjenjePojma"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GlavniDeo">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="PravaIObaveze" minOccurs="1"/>
                <xsd:element ref="Ovlascenja" minOccurs="1"/>
                <xsd:element ref="KazneneOdredbe" minOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PravaIObaveze">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="MaterijalnoPravneOdredbe"/>
                <xsd:element ref="ProcesneOdredbe"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MaterijalnoPravneOdredbe">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Odredba" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ProcesneOdredbe">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Odredba" maxOccurs="unbounded" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Ovlascenja">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" ref="Ovlascenje" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Ovlascenje">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="OvlascenOrgan"/>
                <xsd:element ref="Odredba" maxOccurs="unbounded"/>
                <xsd:element ref="OdredbaOVremenskomVazenjuPropisa"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OvlascenOrgan">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="NazivOrgana"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="KazneneOdredbe">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" ref="KaznenaOdredba" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="KaznenaOdredba">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="BiceDela"/>
                <xsd:element ref="SubjektOdgovornosti"/>
                <xsd:element ref="KaznjivaRadnja"/>
                <xsd:element ref="Sankcija"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ZavrsniDeo">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:choice minOccurs="0">
                    <xsd:sequence>
                        <xsd:element name="NazivZavrsnogDela" fixed="Prelazne i zavrsne odredbe"
                            type="xsd:string"/>
                        <xsd:element ref="PrelazneOdredbe"/>
                        <xsd:element ref="ZavrsneOdredbe"/>
                    </xsd:sequence>
                    <xsd:sequence>
                        <xsd:element name="NazivPrelaznihOdredbi" type="xsd:string"
                            fixed="Prelazne Odredbe"/>
                        <xsd:element ref="PrelazneOdredbe"/>
                        <xsd:element name="NazivZavrsnihOdredbi" type="xsd:string"
                            fixed="Zavrsne Odredbe"/>
                        <xsd:element ref="ZavrsneOdredbe"/>
                    </xsd:sequence>
                </xsd:choice>
                <xsd:element ref="DatumDonosenjaPodzakonskogPropisa"/>
                <xsd:element ref="BrojPodzakonskogPropisa"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PrelazneOdredbe">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Odredba" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ZavrsneOdredbe">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Odredba" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Prilozi">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" ref="Prilog" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Prilog"/>
    <xsd:element name="Odredba" type="Odredba"/>
    <xsd:element name="OdredbaOVremenskomVazenjuPropisa" type="Odredba"/>
    <xsd:element name="NazivPropisa" type="Naziv"/>
    <xsd:element name="NazivOrgana" type="Naziv"/>
    <xsd:element name="MaterijalniPravniOsnov" type="xsd:string"/>
    <xsd:element name="FormalniPravniOsnov" type="xsd:string"/>
    <xsd:element name="NazivUvodnogDela" type="NazivUvodnogDela"/>
    <xsd:element name="PredmetUredjivanja" type="xsd:string"/>
    <xsd:element name="Pojam" type="xsd:string"/>
    <xsd:element name="ObjasnjenjePojma" type="xsd:string"/>
    <xsd:element name="Naznaka" type="xsd:string"/>
    <xsd:element name="KaznjivaRadnja" type="xsd:string"> </xsd:element>
    <xsd:element name="BiceDela" type="xsd:string"/>
    <xsd:element name="SubjektOdgovornosti" type="xsd:string"/>
    <xsd:element name="Sankcija" type="xsd:string"/>
    <xsd:element name="DatumDonosenjaPodzakonskogPropisa" type="xsd:date"/>
    <xsd:element name="BrojPodzakonskogPropisa" type="xsd:positiveInteger"/>
    <xsd:simpleType name="Naziv">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="50"/>
            <xsd:pattern value="[A-Z]+[A-Za-z0-9 ]*"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NazivUvodnogDela">
        <xsd:restriction base="Naziv">
            <xsd:enumeration value="Uvodne odredbe"/>
            <xsd:enumeration value="Osnovne odredbe"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Odredba">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute ref="references"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:attribute name="references" type="xsd:IDREFS"/>
    <xsd:attribute name="danStupanjaNaSnagu" type="brojDanaOdObjavljivanjaUGlasilu"/>
    <xsd:attribute name="nazivSluzbenogGlasila" type="xsd:string"/>
    <xsd:attribute name="rokVazenja" type="xsd:date"/>
    <xsd:attribute name="godinaOdKojeSePrimenjuje" type="xsd:positiveInteger"/>
    <xsd:simpleType name="brojDanaOdObjavljivanjaUGlasilu">
        <xsd:restriction base="xsd:positiveInteger"/>
    </xsd:simpleType>
    <xsd:element name="Naziv" type="Naziv"/>
    <xsd:element name="Deo">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="1" ref="Naziv"/>
                <xsd:element maxOccurs="unbounded" minOccurs="2" ref="Glava"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Glava">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="1" ref="Naziv"/>
                <xsd:element ref="Sadrzaj"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Odeljak"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Odeljak">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="1" ref="Naziv"/>
                <xsd:element ref="Sadrzaj"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Pododeljak"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Pododeljak">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="1" ref="Naziv"/>
                <xsd:element ref="Sadrzaj"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Sadrzaj">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Tekst"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Clan"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Tekst" type="xsd:string"/>
    <xsd:element name="Clan">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Naziv"/>
                <xsd:element ref="Stav"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Stav">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Tekst"/>
                <xsd:element maxOccurs="unbounded" minOccurs="2" ref="Tacka"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Tacka">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Tekst"/>
                <xsd:element maxOccurs="unbounded" minOccurs="2" ref="Podtacka"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Podtacka">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Tekst"/>
                <xsd:element maxOccurs="unbounded" minOccurs="2" ref="Alineja"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Alineja" type="xsd:string"/>
</xsd:schema>
